* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body{
    background: url(https://gas-kvas.com/uploads/posts/2023-02/1676612724_gas-kvas-com-p-oboi-s-geometricheskim-risunkom-dlya-detsk-28.png);
}
.navbar{
    --bs-navbar-padding-y: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
section {
    padding: 20px;
    margin-top: 60px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 20px;
    display: block;
    background-color: white;
    opacity: 0.7;
    min-height: 1000px;
}

#ava {
    width: 100%;
    height: auto;
}

footer {
    margin-left: 20px;
    margin-right: 20px;
    margin-up: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    background: aliceblue;
}
